
*{
    margin: 0px;
    margin: 0px;
    border: 0px;
    font-family: "Lato", serif;
}
.paragraf{
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
}
.shop-btn{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(229, 84, 115, 1);
    padding: 20px 43px;
    border-radius: 8px;
    margin-top: 32px;
}
.shop-btn:hover{
    background-color: rgb(248, 172, 189);
    color: rgb(2, 150, 81);
}
.header{
    width: 100%;
    height: 850px;
    display: flex;
    background-color: rgba(229, 84, 115, 0.1);
}
.section-title{
    width: 708px;
    height: 506px;
    align-items: center;
    text-align: start;
    margin: 147px 97px 147px 240px;
}
.title{
    font-size: 80px;
    font-weight: 800;
    color: rgba(39, 39, 39, 1);
    margin-bottom: 32px;
}
.header-img{
    margin: 50px 240px 0px 97px;
}
.Featured{
    text-align: center;
    margin: 178px 663px 48px 663px;
}
.Featured-title{
    font-size: 40px;
    font-weight: 800;
    color: rgba(39, 39, 39, 1);
    margin-bottom: 24px;
}
.Flower-container{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    margin: 0px 240px 122px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgba(39, 39, 39, 1);
    text-decoration: underline;
    /* margin: 48px 240px 128px 240px; */
}
.one{
    width: 464px;
    height: 534px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.pink-flower{
    margin: 106px 78px 0px;
}
.two{
    width: 464px;
    height: 534px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.pink-flower-2{
    margin: 117px 47px 51px;
}
.three{
    width: 464px;
    height: 534px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.pink-flower-3{
margin: 63px 75px 0px;
}
.support-section{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 0px 223px 0px  238px;
    padding: 86px 175px;
    font-size: 24px;
    color: rgba(39, 39, 39, 0.8)
    

}
.heading-size{
    font-size: 40px;
    font-weight: 800;
    color: rgba(39, 39, 39, 1);
    margin-bottom: 24px;
}
.off-container{
    width: 100%;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
}
.off{
    text-align: center;
    margin: 230px 186px 162px 395px;
}
.span{
    color: rgba(229, 84, 115, 1);
}
.single{
    margin: 100px 429px 100px 0px;
}
.insta{
    text-align: center;
    margin: 128px 665px 48px;
}
.four-flower{
    gap: 24px;
    text-align: center;
   
    
}
.Rectangle-5{
    margin: 0px 24px 0px;
}
.Flower-01{
    margin: 0px 24px 0px 0px;
}